# ── Runtime ───────────────────────────────────────────────────────────────────
PySide6>=6.6.0
pydantic>=2.0.0
freqtrade
filelock
optuna
##aiodns


# ── Dev / Test ─────────────────────────────────────────────────────────────────
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-qt>=4.2.0
hypothesis>=6.100.0
